@using EntityLayer.Concrete
@model List<Location>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Create New Location";
}

<br />
<h2>New Location</h2>

<form method="post" asp-action="Create">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Id</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="id" value="" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">City</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="city" value="" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">District</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="district" value="" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Type</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="type" value="" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="name" value="" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Rating</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="rating" value="" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Working Hours</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="workhours" value="" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Status</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="status" value="" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" value="Add Customer" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
        </div>
    </div>
</form>